@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    color: #f5f5f5;
    line-height: 1.6;
}

.light-mode {
    background-color: #f5f5f5;

    header {
        background-color: #cacaca;
        color: #151515;
    }

    .logo {
        filter: invert(1);
    }

    .carte1 {
        background-color: #cacaca;
        color: #151515;
    }

    .carteProjet {
        background-color: #f5f5f5;
        color: #151515;
    }

    .TagCard {
        background-color: #f5f5f5;
        color: #151515;
    }

    .TagCard:hover {
        background-color: #151515;
        color: #f5f5f5;
    }

    .topBtn {
        background-color: #cacaca;
        color: #f5f5f5;
    }

    footer {
        background-color: #cacaca;
        color: #151515;
    }


}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utilitaires */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

/* //////////////////////////// */
/* Position */
.spaceBetween {
    justify-content: space-between;
}

.spaceAlign {
    align-items: center;
}

.flexColumn {
    flex-direction: column;
}

.flexRow {
    flex-direction: row;
}

.noDecoration {
    text-decoration: none;
    list-style: none;
}

.alignCenter {
    text-align: center;
}

.spaceAlignCenter {
    align-items: center;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.relative {
    position: relative;
}

.flexGrow {
    flex-grow: 1;
}

/* Dimensions */

.w25 {
    width: 25%;
}

.w50 {
    width: 50%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%;
}

.mauto {
    margin: auto;
}



/* Couleurs */

.test {
    background-color: red;
}

.white{
    color: rgb(237, 237, 237);
   
}

/* Autres */

.logo{
    width: 200PX;
}



.objectFit {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd25 {
    padding: 25px 10px;
}




/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.side a {
    color: #f1f1f1;
    font-weight: 500;
    font-size: 1.1em;
}


.logo img {
    width: 500px;
}

.side-links {
    display: flex;
    gap: 50px;
}

nav{
    width: 50%;
    
 }
    
.navheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
     list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;

}

.side {
    display: flex;
    gap: 50px;
}

.logo span {
 font-size: 2rem;
 
}

header span {
    color: #f1f1f1;

}




/* HERO */

.cartePresentation {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.carte1 {
    background-color: #2e2e2e;
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 700px;
}

.carte2 {
    background-color: #2e2e2e;
    border: #cacaca solid 1px;
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 700px;
}

.carte1 h1, .carte h2 {
    margin-bottom: 1rem;
}

.carte1 img {
    max-width: 100%;
    border-radius: 10px;
    display: block;
}


/*.carte2 {
    padding: 10px 20px;
    background-color: white;
    display: flex;
    box-shadow: 0px 2px 2px #b3b3b3;
    width: 50%;
    border-radius: 32px;
     overflow: hidden; 
    box-sizing: border-box;
} */
 
.carte1 h1 {
    font-size: 2.5rem;
}

.carteFlex {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.carteFlex1 img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    flex: 1;
}

.texteCarte {
    flex: 1;
    padding: 1rem;
}

/* SOMMAIRE */

aside {
    flex-direction: row-reverse;
    margin-left: 15px;
    top: 100px;
    left: 0;
    position: sticky;
    width: 30%;
    height: 50vh;
    min-height: 320px;
    padding: 50px 20px 50px 50px;
    box-shadow: 0 0 1px 0 #2e2e2e70;
    border-radius: 10px 0 0 10px;
    display: inline-block;
}

aside h3 {
    margin-bottom: 10px;
}

aside li {
    margin: 5px 0;
}

aside a {
    color: rgb(241, 241, 241);
    font-size: 1.125rem;
}

/* SECTION PROJETS */

.carteProjet {
    background-color: #3a3a3a;
    padding: 1rem;
    border-radius: 12px;
    margin: 1rem;
    transition: transform 0.3s;
    flex: 1;
}

.carteProjet:hover {
    transform: translateY(-5px);
}

.projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
}

.navProjets {
    margin: 19px;
    outline: solid 1px #ebebeb;
    width: 280px;
    padding: 6px 5px;
    border-radius: 10px;
}

.FiltreProjet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TagCard {
    background-color: #f5f5f5;
    color: #151515;
    padding: 3px 5px;
    margin: 0px 3px;
    /* outline: solid 1px #727272; */
    box-shadow: 0 0 1px #1c1c1c;
    border-radius: 10px;
    width: 23%;
}

.TagCard:hover {
    background-color: #151515;
    color: #f5f5f5;
}


/* Footer */

footer {
    text-align: center;
    padding: 32px 0;
    background-color: #151515;
    color: #ccc;
    margin-top: 45px;
}

.footerCard {
    padding: 5px 5px;
    outline: solid 0 0 1px #ccc;
    width: 350px;
    align-items:start;
    text-align: left;
}

.footerCard h4:hover {
    color: #f5f5f5;
}


/* BOUTON HAUT DE PAGE */

.topBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #ebebeb;
    color: #151515;
    padding: 15px 15px;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}